.breadcrumbs {
    display: block;

    color: var(--text-color-main);
    font-family: var(--text-family);
    font-size: 11px;
    font-weight: 500;

    line-height: 13px;
}

.breadcrumbs__link {
    color: var(--link-color);

    text-decoration: none;
}

.breadcrumbs__link:hover {
    color: var(--link-color_hover);

    text-decoration: underline;
}