.certificates-table {
    display: grid;
    grid-template-columns: repeat(3, auto);

    padding: 20px;

    color: var(--text-color-main);
    font-size: 12px;
    font-family: var(--text-family);
    font-weight: 500;

    line-height: 12px;

    background-color: var(--white);

    border-radius: var(--border-radius-xlarge);
    box-shadow: 4px 4px 24px rgba(4, 13, 42, 0.01);

    overflow: auto;
}

.certificates-table__cell {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 20px 32px 20px 0;

    border-bottom: 1px solid #E6E8F0;
}

.certificates-table__cell:nth-child(3n) {
    padding-right: 0;
}

.certificates-table__cell:nth-child(3n+2) {
    text-decoration: underline;
}

.certificates-table__cell_header {
    padding-top: 0;

    color: var(--light-black);

    text-decoration: none !important;

    white-space: nowrap;
}

.certificates-table__link {
    color: inherit;

    text-decoration: none;
}

.certificates-table__cell_header .certificates-table__link {
    display: flex;
    align-items: center;
}

.certificates-table__link:hover {
    color: var(--link-color-black_hover);
}

.certificates-table__link_manufacturer {
    margin-top: 4px;

    color: var(--link-color-gray);
    font-size: 10px;
    font-weight: 500;
}

.certificates-table__scroll {
    display: inline-block;
    width: 12px;
    height: 12px;

    background: url(../images/scroll.svg) center no-repeat;

    cursor: pointer;
}

.certificates-table__scroll_up {
    background: url(../images/scroll-up.svg) center no-repeat;
}

.certificates-table__scroll_down {
    background: url(../images/scroll-down.svg) center no-repeat;
}

.certificates-table__flag-number {
    display: flex;
    align-items: center;
}

.certificates-table__flag {
    display: inline-block;
    width: 24px;
    height: 16px;
    margin-right: 8px;
    
}

.certificates-table__flag img {
    width: 100%;

    border: 0.5px solid rgba(12, 18, 39, 0.16);
    border-radius: var(--border-radius-xsmall);
}

@media (max-width: 480px) {
    .certificates-table {
        padding: 16px;
    }

    .certificates-table__cell {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .certificates-table__cell_header {
        padding-top: 0;
    }
}
