<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name='yandex-verification' content='5034b468f638d5d4' />
    <meta name="yandex-verification" content="b0dd183a09ff4e68" />
    <title>Найти сертификат соответствия по изготовителю - rostest-certify.ru</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="./css/common/normalize.css">
    <link rel="stylesheet" href="./css/common/consts.css">
    <link rel="stylesheet" href="./css/pages/kompanii.css">
    <link rel="stylesheet" href="./css/blocks/menu-main.css">
    <link rel="stylesheet" href="./css/blocks/menu-mobile.css">
    <link rel="stylesheet" href="./css/blocks/button.css">
    <link rel="stylesheet" href="./css/blocks/search-item.css">
    <link rel="stylesheet" href="./css/blocks/breadcrumbs.css">
    <link rel="stylesheet" href="./css/blocks/title-section.css">
    <link rel="stylesheet" href="./css/blocks/manufacturers-item.css">
    <link rel="stylesheet" href="./css/blocks/manufacturers-data.css">
    <link rel="stylesheet" href="./css/blocks/flag.css">
    <link rel="stylesheet" href="./css/blocks/certificates-item.css">
    <link rel="stylesheet" href="./css/blocks/wp-page-numbers.css">
    <link rel="stylesheet" href="./css/blocks/sidebar-stats.css">
    <link rel="stylesheet" href="./css/blocks/sidebar-countries.css">
    <link rel="stylesheet" href="./css/blocks/sidebar-certificates.css">
    <link rel="stylesheet" href="./css/blocks/footer.css">
</head>
<body>
    <div class="overlay"></div>
    <div class="menu-mobile">
        <ul class="menu-mobile__items">
            <li class="menu-mobile__item">
                <a class="menu-mobile__link" href="naiti-sertifikat-po-nomeru.html" title="">Поиск по номеру</a>
            </li>
            <li class="menu-mobile__item">
                <a class="menu-mobile__link" href="naiti-sertifikat-po-vidu-produktsii.html" title="">Продукция</a>
            </li>
            <li class="menu-mobile__item">
                <a class="menu-mobile__link" href="kompanii.html" title="">Изготовители</a>
            </li>
            <li class="menu-mobile__item">
                <a class="menu-mobile__link" href="reestr-sertifikatov.html" title="">Реестр сертификатов</a>
            </li>
            <li class="menu-mobile__item">
                <a class="menu-mobile__link" href="organy-po-sertifikacii.html" title="">Органы по сертификации</a>
            </li>
            <li class="menu-mobile__item">
                <a class="menu-mobile__link" href="gosty.html" title="">ГОСТы</a>
            </li>
            <li class="menu-mobile__item">
                <a class="menu-mobile__link" href="o-sajte.html" title="">О сайте</a>
            </li>
        </ul>
    </div>
    <header class="nav-top">
        <div class="logo">
            <a class="logo__link" href="home.html" title="rostest-certify.ru — Сертификаты соответствия">
                <img class="logo__image" src="./images/logo.svg" alt="rostest-certify.ru">
            </a>
        </div>
        <div class="search search_collapseable">
            <div class="search__magnifier"></div>
            <input class="search__input" placeholder="Поиск сертификата по номеру">
        </div>
        <nav class="menu-main menu-main_collapseable">
            <ul class="menu-main__items">
                <li class="menu-main__item">
                    <a href="naiti-sertifikat-po-nomeru.html" title="Найти сертификат по номеру">
                        Поиск по номеру
                    </a>
                </li>
                <li class="menu-main__item">
                    <a href="naiti-sertifikat-po-vidu-produktsii.html" title="Найти сертификат по виду продукции">
                        Продукция
                    </a>
                </li>
                <li class="menu-main__item">
                    <a href="kompanii.html" title="Найти сертификат по изготовителю">
                        Изготовители
                    </a>
                </li>
                <li class="menu-main__item">
                    <a href="reestr-sertifikatov.html" title="Реестр сертификатов и деклараций соответствия">
                        Реестр сертификатов
                    </a>
                </li>
                <li class="menu-main__item">
                    <a href="organy-po-sertifikacii.html" title="Органы по сертификации">
                        Органы
                    </a>
                </li>
                <li class="menu-main__item">
                    <a href="gosty.html" title="ГОСТы на материалы, товары, продукцию и услуги">
                        ГОСТы
                    </a>
                </li>
                <li class="menu-main__item">
                    <a href="o-sajte.html" title="О сайте">
                        О сайте
                    </a>
                </li>
            </ul>
            <div class="menu-mobile-search-button">
                <div class="menu-mobile-search-button__button"></div>
            </div>
        </nav>
    </header>
    <div class="wrapper">
        <div class="hero">
            <div class="hero__content">
                <div class="breadcrumbs hero__breadcrumbs">
                    <a class="breadcrumbs__link" href="./home.html" title="На главную">Главная</a>
                    /
                    <a class="breadcrumbs__link" href="./home.html" title="Поиск по номеру сетрификата">Поиск по изготовителю</a>
                    /
                    ABC Фарбен
                </div>
                <h1 class="hero__title">
                    Поиск сертификата по изготовителю
                </h1>
                <div class="search-item">
                    <div class="search-item__title">
                        Поиск сертификата по изготовителю:
                    </div>
                    <form class="search-item__form">
                        <div class="search-item__magnifier-input">
                            <div class="search-item__magnifier"></div>
                            <input class="search-item__input" placeholder="Например, ТехноНИКОЛЬ">
                        </div>
                        <button class="button search-item__button">Поиск</button>
                    </form>
                </div>
            </div>
        </div>
        <main class="main">
            <div class="content">
                <div class="content__ad"></div>
                <section class="manufacturers">
                    <h2 class="title-section manufacturers__title">
                        Алфавитный указатель
                    </h2>
                    <p>Организации-изготовители, для которых на данном сайте представлено наибольшее количество сертификатов и деклараций.</p>
                    <p>Для поиска организации-изготовителя, не представленной в этом перечне, воспользуйтесь поиском.</p>
                    <div class="manufacturers__chapter">A</div>
                    <div class="manufacturers__content">
                        <div class="manufacturers-item">
                            <a class="manufacturers-item__link" href="#" title="Сертификаты ASUSTeK Computer Inc.">
                                <div class="manufacturers-item__thumb-title">
                                    <div class="manufacturers-item__thumb">
                                        <img src="./images/logos/asus.png" alt="Сертификаты ASUSTeK Computer Inc.">
                                    </div>
                                    <div class="manufacturers-item__title">
                                        ASUSTeK Computer Inc.
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="manufacturers__chapter">B</div>
                    <div class="manufacturers__content">
                        <div class="manufacturers-item">
                            <a class="manufacturers-item__link" href="#" title="Сертификаты Benq Corporation">
                                <div class="manufacturers-item__thumb-title">
                                    <div class="manufacturers-item__thumb">
                                        <img src="./images/logos/benq.png" alt="Сертификаты Benq Corporation">
                                    </div>
                                    <div class="manufacturers-item__title">
                                        Benq Corporation
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="manufacturers-item">
                            <a class="manufacturers-item__link" href="#" title="Сертификаты Brother Industries Ltd">
                                <div class="manufacturers-item__thumb-title">
                                    <div class="manufacturers-item__thumb">
                                        <img src="./images/logos/brother.png" alt="Сертификаты Brother Industries Ltd">
                                    </div>
                                    <div class="manufacturers-item__title">
                                        Brother Industries Ltd.
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="manufacturers__chapter">C</div>
                    <div class="manufacturers__content">
                        <div class="manufacturers-item">
                            <a class="manufacturers-item__link" href="#" title="Сертификаты Cisco Systems International B.V.">
                                <div class="manufacturers-item__thumb-title">
                                    <div class="manufacturers-item__thumb">
                                        <img src="./images/logos/cisco.png" alt="Сертификаты Cisco Systems International B.V.">
                                    </div>
                                    <div class="manufacturers-item__title">
                                        Cisco Systems International B.V.
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="manufacturers__chapter">G</div>
                    <div class="manufacturers__content">
                        <div class="manufacturers-item">
                            <a class="manufacturers-item__link" href="#" title="Сертификаты Gauss Int. Group Ltd.">
                                <div class="manufacturers-item__thumb-title">
                                    <div class="manufacturers-item__thumb">
                                        <img src="./images/logos/gauss.png" title="Сертификаты Gauss Int. Group Ltd.">
                                    </div>
                                    <div class="manufacturers-item__title">
                                        Gauss Int. Group Ltd.
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="manufacturers-item">
                            <a class="manufacturers-item__link" href="#" title="Сертификаты GROUPE SEB">
                                <div class="manufacturers-item__thumb-title">
                                    <div class="manufacturers-item__thumb">
                                        <img src="./images/logos/groupe_seb.png" title="Сертификаты GROUPE SEB">
                                    </div>
                                    <div class="manufacturers-item__title">
                                        GROUPE SEB
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="manufacturers__chapter">Ф</div>
                    <div class="manufacturers__content">
                        <div class="manufacturers-item">
                            <a class="manufacturers-item__link" href="#" title="Сертификаты Фаберлик">
                                <div class="manufacturers-item__thumb-title">
                                    <div class="manufacturers-item__thumb">
                                        <img src="./images/logos/faberlic.jpg" title="Сертификаты Фаберлик">
                                    </div>
                                    <div class="manufacturers-item__title">
                                        Фаберлик
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="manufacturers-item">
                            <a class="manufacturers-item__link" href="#" title="Сертификаты Ферреро Руссия">
                                <div class="manufacturers-item__thumb-title">
                                    <div class="manufacturers-item__thumb">
                                        <img src="./images/logos/ferrero_russia.png" title="Сертификаты Ферреро Руссия">
                                    </div>
                                    <div class="manufacturers-item__title">
                                        Ферреро Руссия
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="manufacturers-item">
                            <a class="manufacturers-item__link" href="#" title="Сертификаты ФРИЛАЙТ">
                                <div class="manufacturers-item__thumb-title">
                                    <div class="manufacturers-item__thumb">
                                        <img src="./images/logos/frilait.png" title="Сертификаты ФРИЛАЙТ">
                                    </div>
                                    <div class="manufacturers-item__title">
                                        ФРИЛАЙТ
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="manufacturers-item">
                            <a class="manufacturers-item__link" href="#" title="Сертификаты Феррум">
                                <div class="manufacturers-item__thumb-title">
                                    <div class="manufacturers-item__thumb">
                                        <img src="./images/logos/ferrum.png" title="Сертификаты Феррум">
                                    </div>
                                    <div class="manufacturers-item__title">
                                        Феррум
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </section>
                <section class="certificates">
                    <h2 class="title-section certificates__title ">
                        Все сертификаты
                    </h2>
                    <div class="manufacturers-data">
                        <a class="manufacturers-data__link" href="#" title="Сертификаты ASUSTeK Computer Inc.">
                            <div class="manufacturers-data__thumb-title">
                                <div class="manufacturers-data__thumb">
                                    <img src="./images/logos/asus.png" alt="Сертификаты ASUSTeK Computer Inc.">
                                </div>
                                <div class="manufacturers-data__title">
                                    ASUSTeK Computer Inc.
                                </div>
                            </div>
                        </a>
                        <div class="manufacturers-data__description">
                            Изготовитель: Закрытое акционерное общество "ABC Фарбен". 396689, Воронежская обл., Ольховатский p-он, с. Бугаевка, ул. Ломоносова, д. 84
                        </div>
                        <div class="manufacturers-data__map">
                            <img class="manufacturers-data__map-image" src="./images/yamap.png" alt="На Яндекс.Карте">
                        </div>
                    </div>
                    <div class="certificates__content">
                        <div class="certificates-item">
                            <div class="certificates-item__link-thumb">
                                <a class="certificates-item__link" href="#">
                                    <img class="certificates-item__thumb" src="./images/certificate_thumb.jpg" title="Сертификат на морозильные лари, морозильные шкафы (камеры) вертикального типа, холодильники «Affendiler», «Delvento», «DeLonghi», «Galatec», «GoldStar», «GRESSEL», «hi», «ICQN», «Jacky’s», «Leran», «LuxDorf, «novex», «Optima», «Samtron», «Schaub Lorenz», «Sennixwell», «Simfer», «Willmark»" alt="морозильные лари, морозильные шкафы (камеры) вертикального типа, холодильники «Affendiler», «Delvento», «DeLonghi», «Galatec», «GoldStar», «GRESSEL», «hi», «ICQN», «Jacky’s», «Leran», «LuxDorf, «novex», «Optima», «Samtron», «Schaub Lorenz», «Sennixwell», «Simfer», «Willmark»">
                                    <div class="certificates-item__gradient"></div>
                                </a>
                            </div>
                            <div class="certificates-item__description">
                                <div class="certificates-item__title">
                                    <a href="#">
                                        Электрическая энергия, поставляемая потребителям от распределительных электрических сетей (центров питания)
                                    </a>
                                </div>
                                <div class="certificates-item__manufacturer">
                                    <a href="">
                                        Самарский подшипниковый завод
                                    </a>
                                </div>
                                <div class="certificates-item__number">
                                    <span class="flag certificates-item__flag">
                                        <img class="flag__image" src="./images/flags/ru.png" alt="RU" title="Произведено в России">
                                    </span>
                                    № РОСС RU.АА49.В00022
                                </div>
                            </div>
                            <div class="certificates-item__category-more">
                                <div class="certificates-item__category">
                                    <a href="#">64 - Обувь, гетры и аналогичные изделия; их детали</a>
                                    <div class="ancestor"><a href="#">6402 - Прочая обувь с подошвой и с верхом из резины или пластмассы</a>
                                        <div class="ancestor"><a href="#">6402 99 910 0 - Прочая, с длиной стельки менее 24 см</a></div>
                                    </div>
                                </div>
                                <div class="certificates-item__more">
                                    <a href="https://rostest-certificates.ru/sredstva-individualnoj-zashhity-nog-obuv-specialnaya-kozhanaya-v-tom-chisle-uteplennaya-dlya-zashhity-ot-ximicheskix-faktorov-mexanicheskix-vozdejstvij-polubotinki-s-perforaciej-polubotinki-boti/" title="Электрическая энергия, поставляемая потребителям от распределительных электрических сетей (центров питания)">
                                        Подробнее
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="certificates-item">
                            <div class="certificates-item__link-thumb">
                                <a class="certificates-item__link" href="#">
                                    <img class="certificates-item__thumb" src="./images/certificate_thumb.jpg" title="Сертификат на морозильные лари, морозильные шкафы (камеры) вертикального типа, холодильники «Affendiler», «Delvento», «DeLonghi», «Galatec», «GoldStar», «GRESSEL», «hi», «ICQN», «Jacky’s», «Leran», «LuxDorf, «novex», «Optima», «Samtron», «Schaub Lorenz», «Sennixwell», «Simfer», «Willmark»" alt="морозильные лари, морозильные шкафы (камеры) вертикального типа, холодильники «Affendiler», «Delvento», «DeLonghi», «Galatec», «GoldStar», «GRESSEL», «hi», «ICQN», «Jacky’s», «Leran», «LuxDorf, «novex», «Optima», «Samtron», «Schaub Lorenz», «Sennixwell», «Simfer», «Willmark»">
                                    <div class="certificates-item__gradient"></div>
                                </a>
                            </div>
                            <div class="certificates-item__description">
                                <div class="certificates-item__title">
                                    <a href="#">
                                        Электрическая энергия, поставляемая потребителям от распределительных электрических сетей (центров питания)
                                    </a>
                                </div>
                                <div class="certificates-item__manufacturer">
                                    <a href="">
                                        Самарский подшипниковый завод
                                    </a>
                                </div>
                                <div class="certificates-item__number">
                                    <span class="flag certificates-item__flag">
                                        <img class="flag__image" src="./images/flags/ru.png" alt="RU" title="Произведено в России">
                                    </span>
                                    № РОСС RU.АА49.В00022
                                </div>
                            </div>
                            <div class="certificates-item__category-more">
                                <div class="certificates-item__category">
                                    <a href="#">64 - Обувь, гетры и аналогичные изделия; их детали</a>
                                    <div class="ancestor"><a href="#">6402 - Прочая обувь с подошвой и с верхом из резины или пластмассы</a>
                                        <div class="ancestor"><a href="#">6402 99 910 0 - Прочая, с длиной стельки менее 24 см</a></div>
                                    </div>
                                </div>
                                <div class="certificates-item__more">
                                    <a href="https://rostest-certificates.ru/sredstva-individualnoj-zashhity-nog-obuv-specialnaya-kozhanaya-v-tom-chisle-uteplennaya-dlya-zashhity-ot-ximicheskix-faktorov-mexanicheskix-vozdejstvij-polubotinki-s-perforaciej-polubotinki-boti/" title="Электрическая энергия, поставляемая потребителям от распределительных электрических сетей (центров питания)">
                                        Подробнее
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="certificates-item">
                            <div class="certificates-item__link-thumb">
                                <a class="certificates-item__link" href="#">
                                    <img class="certificates-item__thumb" src="./images/certificate_thumb.jpg" title="Сертификат на морозильные лари, морозильные шкафы (камеры) вертикального типа, холодильники «Affendiler», «Delvento», «DeLonghi», «Galatec», «GoldStar», «GRESSEL», «hi», «ICQN», «Jacky’s», «Leran», «LuxDorf, «novex», «Optima», «Samtron», «Schaub Lorenz», «Sennixwell», «Simfer», «Willmark»" alt="морозильные лари, морозильные шкафы (камеры) вертикального типа, холодильники «Affendiler», «Delvento», «DeLonghi», «Galatec», «GoldStar», «GRESSEL», «hi», «ICQN», «Jacky’s», «Leran», «LuxDorf, «novex», «Optima», «Samtron», «Schaub Lorenz», «Sennixwell», «Simfer», «Willmark»">
                                    <div class="certificates-item__gradient"></div>
                                </a>
                            </div>
                            <div class="certificates-item__description">
                                <div class="certificates-item__title">
                                    <a href="#">
                                        Электрическая энергия, поставляемая потребителям от распределительных электрических сетей (центров питания)
                                    </a>
                                </div>
                                <div class="certificates-item__manufacturer">
                                    <a href="">
                                        Самарский подшипниковый завод
                                    </a>
                                </div>
                                <div class="certificates-item__number">
                                    <span class="flag certificates-item__flag">
                                        <img class="flag__image" src="./images/flags/ru.png" alt="RU" title="Произведено в России">
                                    </span>
                                    № РОСС RU.АА49.В00022
                                </div>
                            </div>
                            <div class="certificates-item__category-more">
                                <div class="certificates-item__category">
                                    <a href="#">64 - Обувь, гетры и аналогичные изделия; их детали</a>
                                    <div class="ancestor"><a href="#">6402 - Прочая обувь с подошвой и с верхом из резины или пластмассы</a>
                                        <div class="ancestor"><a href="#">6402 99 910 0 - Прочая, с длиной стельки менее 24 см</a></div>
                                    </div>
                                </div>
                                <div class="certificates-item__more">
                                    <a href="https://rostest-certificates.ru/sredstva-individualnoj-zashhity-nog-obuv-specialnaya-kozhanaya-v-tom-chisle-uteplennaya-dlya-zashhity-ot-ximicheskix-faktorov-mexanicheskix-vozdejstvij-polubotinki-s-perforaciej-polubotinki-boti/" title="Электрическая энергия, поставляемая потребителям от распределительных электрических сетей (центров питания)">
                                        Подробнее
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="certificates-item">
                            <div class="certificates-item__link-thumb">
                                <a class="certificates-item__link" href="#">
                                    <img class="certificates-item__thumb" src="./images/certificate_thumb.jpg" title="Сертификат на морозильные лари, морозильные шкафы (камеры) вертикального типа, холодильники «Affendiler», «Delvento», «DeLonghi», «Galatec», «GoldStar», «GRESSEL», «hi», «ICQN», «Jacky’s», «Leran», «LuxDorf, «novex», «Optima», «Samtron», «Schaub Lorenz», «Sennixwell», «Simfer», «Willmark»" alt="морозильные лари, морозильные шкафы (камеры) вертикального типа, холодильники «Affendiler», «Delvento», «DeLonghi», «Galatec», «GoldStar», «GRESSEL», «hi», «ICQN», «Jacky’s», «Leran», «LuxDorf, «novex», «Optima», «Samtron», «Schaub Lorenz», «Sennixwell», «Simfer», «Willmark»">
                                    <div class="certificates-item__gradient"></div>
                                </a>
                            </div>
                            <div class="certificates-item__description">
                                <div class="certificates-item__title">
                                    <a href="#">
                                        Электрическая энергия, поставляемая потребителям от распределительных электрических сетей (центров питания)
                                    </a>
                                </div>
                                <div class="certificates-item__manufacturer">
                                    <a href="">
                                        Самарский подшипниковый завод
                                    </a>
                                </div>
                                <div class="certificates-item__number">
                                    <span class="flag certificates-item__flag">
                                        <img class="flag__image" src="./images/flags/ru.png" alt="RU" title="Произведено в России">
                                    </span>
                                    № РОСС RU.АА49.В00022
                                </div>
                            </div>
                            <div class="certificates-item__category-more">
                                <div class="certificates-item__category">
                                    <a href="#">64 - Обувь, гетры и аналогичные изделия; их детали</a>
                                    <div class="ancestor"><a href="#">6402 - Прочая обувь с подошвой и с верхом из резины или пластмассы</a>
                                        <div class="ancestor"><a href="#">6402 99 910 0 - Прочая, с длиной стельки менее 24 см</a></div>
                                    </div>
                                </div>
                                <div class="certificates-item__more">
                                    <a href="https://rostest-certificates.ru/sredstva-individualnoj-zashhity-nog-obuv-specialnaya-kozhanaya-v-tom-chisle-uteplennaya-dlya-zashhity-ot-ximicheskix-faktorov-mexanicheskix-vozdejstvij-polubotinki-s-perforaciej-polubotinki-boti/" title="Электрическая энергия, поставляемая потребителям от распределительных электрических сетей (центров питания)">
                                        Подробнее
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="certificates-item">
                            <div class="certificates-item__link-thumb">
                                <a class="certificates-item__link" href="#">
                                    <img class="certificates-item__thumb" src="./images/certificate_thumb.jpg" title="Сертификат на морозильные лари, морозильные шкафы (камеры) вертикального типа, холодильники «Affendiler», «Delvento», «DeLonghi», «Galatec», «GoldStar», «GRESSEL», «hi», «ICQN», «Jacky’s», «Leran», «LuxDorf, «novex», «Optima», «Samtron», «Schaub Lorenz», «Sennixwell», «Simfer», «Willmark»" alt="морозильные лари, морозильные шкафы (камеры) вертикального типа, холодильники «Affendiler», «Delvento», «DeLonghi», «Galatec», «GoldStar», «GRESSEL», «hi», «ICQN», «Jacky’s», «Leran», «LuxDorf, «novex», «Optima», «Samtron», «Schaub Lorenz», «Sennixwell», «Simfer», «Willmark»">
                                    <div class="certificates-item__gradient"></div>
                                </a>
                            </div>
                            <div class="certificates-item__description">
                                <div class="certificates-item__title">
                                    <a href="#">
                                        Электрическая энергия, поставляемая потребителям от распределительных электрических сетей (центров питания)
                                    </a>
                                </div>
                                <div class="certificates-item__manufacturer">
                                    <a href="">
                                        Самарский подшипниковый завод
                                    </a>
                                </div>
                                <div class="certificates-item__number">
                                    <span class="flag certificates-item__flag">
                                        <img class="flag__image" src="./images/flags/ru.png" alt="RU" title="Произведено в России">
                                    </span>
                                    № РОСС RU.АА49.В00022
                                </div>
                            </div>
                            <div class="certificates-item__category-more">
                                <div class="certificates-item__category">
                                    <a href="#">64 - Обувь, гетры и аналогичные изделия; их детали</a>
                                    <div class="ancestor"><a href="#">6402 - Прочая обувь с подошвой и с верхом из резины или пластмассы</a>
                                        <div class="ancestor"><a href="#">6402 99 910 0 - Прочая, с длиной стельки менее 24 см</a></div>
                                    </div>
                                </div>
                                <div class="certificates-item__more">
                                    <a href="https://rostest-certificates.ru/sredstva-individualnoj-zashhity-nog-obuv-specialnaya-kozhanaya-v-tom-chisle-uteplennaya-dlya-zashhity-ot-ximicheskix-faktorov-mexanicheskix-vozdejstvij-polubotinki-s-perforaciej-polubotinki-boti/" title="Электрическая энергия, поставляемая потребителям от распределительных электрических сетей (центров питания)">
                                        Подробнее
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="certificates-item">
                            <div class="certificates-item__link-thumb">
                                <a class="certificates-item__link" href="#">
                                    <img class="certificates-item__thumb" src="./images/certificate_thumb.jpg" title="Сертификат на морозильные лари, морозильные шкафы (камеры) вертикального типа, холодильники «Affendiler», «Delvento», «DeLonghi», «Galatec», «GoldStar», «GRESSEL», «hi», «ICQN», «Jacky’s», «Leran», «LuxDorf, «novex», «Optima», «Samtron», «Schaub Lorenz», «Sennixwell», «Simfer», «Willmark»" alt="морозильные лари, морозильные шкафы (камеры) вертикального типа, холодильники «Affendiler», «Delvento», «DeLonghi», «Galatec», «GoldStar», «GRESSEL», «hi», «ICQN», «Jacky’s», «Leran», «LuxDorf, «novex», «Optima», «Samtron», «Schaub Lorenz», «Sennixwell», «Simfer», «Willmark»">
                                    <div class="certificates-item__gradient"></div>
                                </a>
                            </div>
                            <div class="certificates-item__description">
                                <div class="certificates-item__title">
                                    <a href="#">
                                        Электрическая энергия, поставляемая потребителям от распределительных электрических сетей (центров питания)
                                    </a>
                                </div>
                                <div class="certificates-item__manufacturer">
                                    <a href="">
                                        Самарский подшипниковый завод
                                    </a>
                                </div>
                                <div class="certificates-item__number">
                                    <span class="flag certificates-item__flag">
                                        <img class="flag__image" src="./images/flags/ru.png" alt="RU" title="Произведено в России">
                                    </span>
                                    № РОСС RU.АА49.В00022
                                </div>
                            </div>
                            <div class="certificates-item__category-more">
                                <div class="certificates-item__category">
                                    <a href="#">64 - Обувь, гетры и аналогичные изделия; их детали</a>
                                    <div class="ancestor"><a href="#">6402 - Прочая обувь с подошвой и с верхом из резины или пластмассы</a>
                                        <div class="ancestor"><a href="#">6402 99 910 0 - Прочая, с длиной стельки менее 24 см</a></div>
                                    </div>
                                </div>
                                <div class="certificates-item__more">
                                    <a href="https://rostest-certificates.ru/sredstva-individualnoj-zashhity-nog-obuv-specialnaya-kozhanaya-v-tom-chisle-uteplennaya-dlya-zashhity-ot-ximicheskix-faktorov-mexanicheskix-vozdejstvij-polubotinki-s-perforaciej-polubotinki-boti/" title="Электрическая энергия, поставляемая потребителям от распределительных электрических сетей (центров питания)">
                                        Подробнее
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="certificates-item">
                            <div class="certificates-item__link-thumb">
                                <a class="certificates-item__link" href="#">
                                    <img class="certificates-item__thumb" src="./images/certificate_thumb.jpg" title="Сертификат на морозильные лари, морозильные шкафы (камеры) вертикального типа, холодильники «Affendiler», «Delvento», «DeLonghi», «Galatec», «GoldStar», «GRESSEL», «hi», «ICQN», «Jacky’s», «Leran», «LuxDorf, «novex», «Optima», «Samtron», «Schaub Lorenz», «Sennixwell», «Simfer», «Willmark»" alt="морозильные лари, морозильные шкафы (камеры) вертикального типа, холодильники «Affendiler», «Delvento», «DeLonghi», «Galatec», «GoldStar», «GRESSEL», «hi», «ICQN», «Jacky’s», «Leran», «LuxDorf, «novex», «Optima», «Samtron», «Schaub Lorenz», «Sennixwell», «Simfer», «Willmark»">
                                    <div class="certificates-item__gradient"></div>
                                </a>
                            </div>
                            <div class="certificates-item__description">
                                <div class="certificates-item__title">
                                    <a href="#">
                                        Электрическая энергия, поставляемая потребителям от распределительных электрических сетей (центров питания)
                                    </a>
                                </div>
                                <div class="certificates-item__manufacturer">
                                    <a href="">
                                        Самарский подшипниковый завод
                                    </a>
                                </div>
                                <div class="certificates-item__number">
                                    <span class="flag certificates-item__flag">
                                        <img class="flag__image" src="./images/flags/ru.png" alt="RU" title="Произведено в России">
                                    </span>
                                    № РОСС RU.АА49.В00022
                                </div>
                            </div>
                        </div>
                        <div class="certificates-item">
                            <div class="certificates-item__link-thumb">
                                <a class="certificates-item__link" href="#">
                                    <img class="certificates-item__thumb" src="./images/certificate_thumb.jpg" title="Сертификат на морозильные лари, морозильные шкафы (камеры) вертикального типа, холодильники «Affendiler», «Delvento», «DeLonghi», «Galatec», «GoldStar», «GRESSEL», «hi», «ICQN», «Jacky’s», «Leran», «LuxDorf, «novex», «Optima», «Samtron», «Schaub Lorenz», «Sennixwell», «Simfer», «Willmark»" alt="морозильные лари, морозильные шкафы (камеры) вертикального типа, холодильники «Affendiler», «Delvento», «DeLonghi», «Galatec», «GoldStar», «GRESSEL», «hi», «ICQN», «Jacky’s», «Leran», «LuxDorf, «novex», «Optima», «Samtron», «Schaub Lorenz», «Sennixwell», «Simfer», «Willmark»">
                                    <div class="certificates-item__gradient"></div>
                                </a>
                            </div>
                            <div class="certificates-item__description">
                                <div class="certificates-item__title">
                                    <a href="#">
                                        Электрическая энергия, поставляемая потребителям от распределительных электрических сетей (центров питания)
                                    </a>
                                </div>
                                <div class="certificates-item__manufacturer">
                                    <a href="">
                                        Самарский подшипниковый завод
                                    </a>
                                </div>
                                <div class="certificates-item__number">
                                    <span class="flag certificates-item__flag">
                                        <img class="flag__image" src="./images/flags/ru.png" alt="RU" title="Произведено в России">
                                    </span>
                                    № РОСС RU.АА49.В00022
                                </div>
                            </div>
                        </div>
                        <div class="certificates-item">
                            <div class="certificates-item__link-thumb">
                                <a class="certificates-item__link" href="#">
                                    <img class="certificates-item__thumb" src="./images/certificate_thumb.jpg" title="Сертификат на морозильные лари, морозильные шкафы (камеры) вертикального типа, холодильники «Affendiler», «Delvento», «DeLonghi», «Galatec», «GoldStar», «GRESSEL», «hi», «ICQN», «Jacky’s», «Leran», «LuxDorf, «novex», «Optima», «Samtron», «Schaub Lorenz», «Sennixwell», «Simfer», «Willmark»" alt="морозильные лари, морозильные шкафы (камеры) вертикального типа, холодильники «Affendiler», «Delvento», «DeLonghi», «Galatec», «GoldStar», «GRESSEL», «hi», «ICQN», «Jacky’s», «Leran», «LuxDorf, «novex», «Optima», «Samtron», «Schaub Lorenz», «Sennixwell», «Simfer», «Willmark»">
                                    <div class="certificates-item__gradient"></div>
                                </a>
                            </div>
                            <div class="certificates-item__description">
                                <div class="certificates-item__title">
                                    <a href="#">
                                        Электрическая энергия, поставляемая потребителям от распределительных электрических сетей (центров питания)
                                    </a>
                                </div>
                                <div class="certificates-item__manufacturer">
                                    <a href="">
                                        Самарский подшипниковый завод
                                    </a>
                                </div>
                                <div class="certificates-item__number">
                                    <span class="flag certificates-item__flag">
                                        <img class="flag__image" src="./images/flags/ru.png" alt="RU" title="Произведено в России">
                                    </span>
                                    № РОСС RU.АА49.В00022
                                </div>
                            </div>
                            <div class="certificates-item__category-more">
                                <div class="certificates-item__category">
                                    <a href="#">64 - Обувь, гетры и аналогичные изделия; их детали</a>
                                    <div class="ancestor"><a href="#">6402 - Прочая обувь с подошвой и с верхом из резины или пластмассы</a>
                                        <div class="ancestor"><a href="#">6402 99 910 0 - Прочая, с длиной стельки менее 24 см</a></div>
                                    </div>
                                </div>
                                <div class="certificates-item__more">
                                    <a href="https://rostest-certificates.ru/sredstva-individualnoj-zashhity-nog-obuv-specialnaya-kozhanaya-v-tom-chisle-uteplennaya-dlya-zashhity-ot-ximicheskix-faktorov-mexanicheskix-vozdejstvij-polubotinki-s-perforaciej-polubotinki-boti/" title="Электрическая энергия, поставляемая потребителям от распределительных электрических сетей (центров питания)">
                                        Подробнее
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="certificates__nav" id='wp_page_numbers'>
                        <ul>
                            <li class="page_info">Стр. 1 из 176</li>
                            <li class="active_page">
                                <a href="https://rostest-certify.ru/reestr-sertifikatov/">1</a>
                            </li>
                            <li>
                                <a href="https://rostest-certify.ru/reestr-sertifikatov/page/2/">2</a>
                            </li>
                            <li>
                                <a href="https://rostest-certify.ru/reestr-sertifikatov/page/3/">3</a>
                            </li>
                            <li>
                                <a href="https://rostest-certify.ru/reestr-sertifikatov/page/2/">&gt;</a>
                            </li>
                        </ul>
                    </div>
                </section>
                <div class="content__ad"></div>
            </div>
            <aside class="sidebar">
                <div class="sidebar-stats">
                    <div class="sidebar-stats__title">
                        Статистика
                    </div>
                    <a class="sidebar-stats__certificates" href="https://rostest-certify.ru/reestr-sertifikatov/" title="Реестр сертификатов соответствия">
                        <div class="sidebar-stats__certificates-value">
                            3511
                        </div>
                        <div class="sidebar-stats__certificates-subtitle">
                            сертификатов на сайте
                        </div>
                    </a>
                    <div class="sidebar-stats__manufacturers-agencies">
                        <a class="sidebar-stats__manufacturers" href="https://rostest-certify.ru/kompanii/" title="Поиск сертификата по изготовителю">
                            <div class="sidebar-stats__manufacturers-value">
                                2245
                            </div>
                            <div class="sidebar-stats__manufacturers-subtitle">
                                изготовителей
                            </div>
                        </a>
                        <a class="sidebar-stats__agencies" href="https://rostest-certify.ru/organy-po-sertifikacii/" title="Реестр органов по сертификации">
                            <div class="sidebar-stats__agencies-value">
                                568
                            </div>
                            <div class="sidebar-stats__agencies-subtitle">
                                органов
                            </div>
                        </a>
                    </div>
                </div>
                <div class="sidebar-countries">
                    <div class="sidebar-countries__title">
                        Сертификаты по странам
                    </div>
                    <ul class="sidebar-countries__items">
                        <li class="sidebar-countries__item">
                            <span class="flag sidebar-countries__flag">
                                <img src="./images/flags/ru.png" alt="RU" title="Произведено в России">
                            </span>
                            2276
                        </li>
                        <li class="sidebar-countries__item">
                            <span class="flag sidebar-countries__flag">
                                <img src="./images/flags/cn.png" alt="CN" title="Произведено в Китае">
                            </span>
                            402
                        </li>
                        <li class="sidebar-countries__item">
                            <span class="flag sidebar-countries__flag">
                                <img src="./images/flags/de.png" alt="DE" title="Произведено в Германии">
                            </span>
                            125
                        </li>
                        <li class="sidebar-countries__item">
                            <span class="flag sidebar-countries__flag">
                                <img src="./images/flags/us.png" alt="US" title="Произведено в США">
                            </span>
                            73
                        </li>
                        <li class="sidebar-countries__item">
                            <span class="flag sidebar-countries__flag">
                                <img src="./images/flags/jp.png" alt="JP" title="Произведено в Японии">
                            </span>
                            60
                        </li>
                        <li class="sidebar-countries__item">
                            <span class="flag sidebar-countries__flag">
                                <img src="./images/flags/dk.png" alt="DK" title="Произведено в Дании">
                            </span>
                            58
                        </li>
                    </ul>
                </div>
                <div class="sidebar-certificates">
                    <div class="sidebar-certificates__title">
                        Новые сертификаты
                    </div>
                    <ul class="sidebar-certificates__items">
                        <li class="sidebar-certificates__item">
                            <a class="sidebar-certificates__link" href="#" title="Скачать сертификат соответствия на электрическая энергия, поставляемая потребителям от распределительных электрических сетей (центров питания)">
                                <div class="sidebar-certificates__thumb-description">
                                    <div class="sidebar-certificates__thumb">
                                        <img class="sidebar-certificates__image" src="./images/certificate_thumb.jpg" title="Электрическая энергия, поставляемая потребителям от распределительных электрических сетей (центров питания)" alt="Электрическая энергия, поставляемая потребителям от распределительных электрических сетей (центров питания)">
                                        <div class="sidebar-certificates__gradient"></div>
                                    </div>
                                    <div class="sidebar-certificates__description">
                                        Электрическая энергия, поставляемая потребителям от распределительных электрических сетей (центров питания)
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="sidebar-certificates__item">
                            <a class="sidebar-certificates__link" href="#" title="Скачать сертификат соответствия на электрическая энергия, поставляемая потребителям от распределительных электрических сетей (центров питания)">
                                <div class="sidebar-certificates__thumb-description">
                                    <div class="sidebar-certificates__thumb">
                                        <img class="sidebar-certificates__image" src="./images/certificate_thumb.jpg" title="Электрическая энергия, поставляемая потребителям от распределительных электрических сетей (центров питания)" alt="Электрическая энергия, поставляемая потребителям от распределительных электрических сетей (центров питания)">
                                        <div class="sidebar-certificates__gradient"></div>
                                    </div>
                                    <div class="sidebar-certificates__description">
                                        Электрическая энергия, поставляемая потребителям от распределительных электрических сетей (центров питания)
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="sidebar-certificates__item">
                            <a class="sidebar-certificates__link" href="#" title="Скачать сертификат соответствия на электрическая энергия, поставляемая потребителям от распределительных электрических сетей (центров питания)">
                                <div class="sidebar-certificates__thumb-description">
                                    <div class="sidebar-certificates__thumb">
                                        <img class="sidebar-certificates__image" src="./images/certificate_thumb.jpg" title="Электрическая энергия, поставляемая потребителям от распределительных электрических сетей (центров питания)" alt="Электрическая энергия, поставляемая потребителям от распределительных электрических сетей (центров питания)">
                                        <div class="sidebar-certificates__gradient"></div>
                                    </div>
                                    <div class="sidebar-certificates__description">
                                        Электрическая энергия, поставляемая потребителям от распределительных электрических сетей (центров питания)
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="sidebar-certificates__more">
                        <a class="sidebar-certificates__more-link" href="https://rostest-certificates.ru/sredstva-individualnoj-zashhity-nog-obuv-specialnaya-kozhanaya-v-tom-chisle-uteplennaya-dlya-zashhity-ot-ximicheskix-faktorov-mexanicheskix-vozdejstvij-polubotinki-s-perforaciej-polubotinki-boti/" title="Другие сертификаты">
                            Другая продукция этого изготовителя
                        </a>
                    </div>
                </div>
                <div class="sidebar__ad"></div>
            </aside>
        </main>
    </div>
    <footer class="footer">
        <div class="nav-bottom">
            <div class="logo">
                <a class="logo__link" href="#" title="rostest-certify.ru — Сертификаты соответствия">
                    <img class="logo__image" src="./images/logo.svg" alt="rostest-certify.ru">
                </a>
            </div>
            <div class="search">
                <div class="search__magnifier"></div>
                <input class="search__input" placeholder="Поиск сертификата по номеру">
            </div>
            <nav class="menu-main">
                <ul class="menu-main__items">
                    <li class="menu-main__item">
                        <a href="naiti-sertifikat-po-nomeru.html" title="Найти сертификат по номеру">
                            Поиск по номеру
                        </a>
                    </li>
                    <li class="menu-main__item">
                        <a href="naiti-sertifikat-po-vidu-produktsii.html" title="Найти сертификат по виду продукции">
                            Продукция
                        </a>
                    </li>
                    <li class="menu-main__item">
                        <a href="kompanii.html" title="Найти сертификат по изготовителю">
                            Изготовители
                        </a>
                    </li>
                    <li class="menu-main__item">
                        <a href="reestr-sertifikatov.html" title="Реестр сертификатов и деклараций соответствия">
                            Реестр сертификатов
                        </a>
                    </li>
                    <li class="menu-main__item">
                        <a href="organy-po-sertifikacii.html" title="Органы по сертификации">
                            Органы
                        </a>
                    </li>
                    <li class="menu-main__item">
                        <a href="gosty.html" title="ГОСТы на материалы, товары, продукцию и услуги">
                            ГОСТы
                        </a>
                    </li>
                    <li class="menu-main__item">
                        <a href="o-sajte.html" title="О сайте">
                            О сайте
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="footer__disclamer-counter">
            <div class="footer__disclamer">
                <p>На сайте представлены сертификаты соответствия ГОСТ Р и Таможенного союза, а также Декларации соответствия Таможенного союза на различные материалы, товары, продукцию и услуги.</p>
                <p>Скачать сертификаты соответствия на продукцию и декларации можно в высоком разрешении. Информация представлена в виде изображений оригинальных документов и их копий. Вместе с изображениями представлена текстовая информация, содержащаяся в сертификатах.</p>
                <p>Сертификаты соответствия © 2014-2024. Информация представлена только для ознакомительного использования.</p>
            </div>
            <div class="footer__counter">
                <img src="./images/informer.png" style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" class="ym-advanced-informer" data-cid="32820367" data-lang="ru">
            </div>
        </div>
    </footer>
    <script src="./scripts/menu-mobile.js"></script>
</body>
</html>
