<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name='yandex-verification' content='5034b468f638d5d4' />
    <meta name="yandex-verification" content="b0dd183a09ff4e68" />
    <title>Найти сертификат соответствия по номеру - rostest-certify.ru</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="./css/common/normalize.css">
    <link rel="stylesheet" href="./css/common/consts.css">
    <link rel="stylesheet" href="./css/blocks/menu-main.css">
    <link rel="stylesheet" href="./css/blocks/menu-mobile.css">
    <link rel="stylesheet" href="./css/blocks/button.css">
    <link rel="stylesheet" href="./css/blocks/search-item.css">
    <link rel="stylesheet" href="./css/blocks/breadcrumbs.css">
    <link rel="stylesheet" href="./css/blocks/title-section.css">
    <link rel="stylesheet" href="./css/blocks/flag.css">
    <link rel="stylesheet" href="./css/blocks/certificates-item.css">
    <link rel="stylesheet" href="./css/blocks/wp-page-numbers.css">
    <link rel="stylesheet" href="./css/blocks/sidebar-stats.css">
    <link rel="stylesheet" href="./css/blocks/sidebar-countries.css">
    <link rel="stylesheet" href="./css/blocks/sidebar-certificates.css">
    <link rel="stylesheet" href="./css/blocks/footer.css">
    <link rel="stylesheet" href="./css/pages/o-sajte.css">
</head>
<body>
    <div class="overlay"></div>
    <div class="menu-mobile">
        <ul class="menu-mobile__items">
            <li class="menu-mobile__item">
                <a class="menu-mobile__link" href="naiti-sertifikat-po-nomeru.html" title="">Поиск по номеру</a>
            </li>
            <li class="menu-mobile__item">
                <a class="menu-mobile__link" href="naiti-sertifikat-po-vidu-produktsii.html" title="">Продукция</a>
            </li>
            <li class="menu-mobile__item">
                <a class="menu-mobile__link" href="kompanii.html" title="">Изготовители</a>
            </li>
            <li class="menu-mobile__item">
                <a class="menu-mobile__link" href="reestr-sertifikatov.html" title="">Реестр сертификатов</a>
            </li>
            <li class="menu-mobile__item">
                <a class="menu-mobile__link" href="organy-po-sertifikacii.html" title="">Органы по сертификации</a>
            </li>
            <li class="menu-mobile__item">
                <a class="menu-mobile__link" href="gosty.html" title="">ГОСТы</a>
            </li>
            <li class="menu-mobile__item">
                <a class="menu-mobile__link" href="#" title="">О сайте</a>
            </li>
        </ul>
    </div>
    <header class="nav-top">
        <div class="logo">
            <a class="logo__link" href="home.html" title="rostest-certify.ru — Сертификаты соответствия">
                <img class="logo__image" src="./images/logo.svg" alt="rostest-certify.ru">
            </a>
        </div>
        <form class="search search_collapseable">
            <input class="search__input" placeholder="Поиск сертификата по номеру">
            <button class="search__magnifier" type="submit"></button>
        </form>
        <nav class="menu-main menu-main_collapseable">
            <ul class="menu-main__items">
                <li class="menu-main__item">
                    <a href="naiti-sertifikat-po-nomeru.html" title="Найти сертификат по номеру">
                        Поиск по номеру
                    </a>
                </li>
                <li class="menu-main__item">
                    <a href="naiti-sertifikat-po-vidu-produktsii.html" title="Найти сертификат по виду продукции">
                        Продукция
                    </a>
                </li>
                <li class="menu-main__item">
                    <a href="kompanii.html" title="Найти сертификат по изготовителю">
                        Изготовители
                    </a>
                </li>
                <li class="menu-main__item">
                    <a href="reestr-sertifikatov.html" title="Реестр сертификатов и деклараций соответствия">
                        Реестр сертификатов
                    </a>
                </li>
                <li class="menu-main__item">
                    <a href="organy-po-sertifikacii.html" title="Органы по сертификации">
                        Органы
                    </a>
                </li>
                <li class="menu-main__item">
                    <a href="gosty.html" title="ГОСТы на материалы, товары, продукцию и услуги">
                        ГОСТы
                    </a>
                </li>
                <li class="menu-main__item">
                    <a href="https://rostest-certify.ru/o-sajte/" title="О сайте">
                        О сайте
                    </a>
                </li>
            </ul>
            <div class="menu-mobile-search-button">
                <div class="menu-mobile-search-button__button"></div>
            </div>
        </nav>

        <div class="menu-mobile">
            <ul class="menu-mobile__items">
                <li class="menu-mobile__item">
                    <a class="menu-mobile__link" href="naiti-sertifikat-po-nomeru.html" title="">Поиск по номеру</a>
                </li>
                <li class="menu-mobile__item">
                    <a class="menu-mobile__link" href="naiti-sertifikat-po-vidu-produktsii.html" title="">Продукция</a>
                </li>
                <li class="menu-mobile__item">
                    <a class="menu-mobile__link" href="kompanii.html" title="">Изготовители</a>
                </li>
                <li class="menu-mobile__item">
                    <a class="menu-mobile__link" href="reestr-sertifikatov.html" title="">Реестр сертификатов</a>
                </li>
                <li class="menu-mobile__item">
                    <a class="menu-mobile__link" href="organy-po-sertifikacii.html" title="">Органы по сертификации</a>
                </li>
                <li class="menu-mobile__item">
                    <a class="menu-mobile__link" href="gosty.html" title="">ГОСТы</a>
                </li>
                <li class="menu-mobile__item">
                    <a class="menu-mobile__link" href="#" title="">О сайте</a>
                </li>
            </ul>
        </div>
    </header>
    <div class="wrapper">
        <div class="hero">
            <div class="hero__content">
                <div class="breadcrumbs hero__breadcrumbs">
                    <a class="breadcrumbs__link" href="./home.html" title="На главную">Главная</a>
                    /
                    О сайте
                </div>
                <h1 class="hero__title">
                    О сайте
                </h1>
            </div>
        </div>
        <main class="main">
            <div class="content">
                <div class="content__ad"></div>
                <section class="about">
                    <h3 class="title-section about__title">
                        О сайте
                    </h3>
                    <div class="about__content">
                        <p>
                            <strong>rostest-certify.ru</strong> — это сервис, предлагающий своим пользователям скачать сертификаты соответствия ГОСТ Р и Таможенного союза, а также декларации соответствия. Многие сертификаты и декларации представлены вместе с приложениями. Сертификаты, представленные на страницах сайта, постоянно пополняются. Представленные документы могут быть скачаны для ознакомительных целей.
                        </p>
                        <p>
                            На сайте можно найти следующие виды сертификатов:
                        </p>
                        <ul>
                            <li>Сертификат соответствия ГОСТ Р — обязательная сертификация</li>
                            <li>Сертификат соответствия ГОСТ Р — добровольная сертификация</li>
                            <li>Сертификат соответствия Таможенного союза</li>
                            <li>Декларация соответствия Таможенного союза</li>
                        </ul>
                        <ul class="about__items">
                            <li class="about__item">
                                <img class="about__image" src="./images/about/gost_o.jpg" alt="Сертификат соответствия ГОСТ Р — обязательная сертификация">
                            </li>
                            <li class="about__item">
                                <img class="about__image" src="./images/about/gost_d.jpg" alt="Сертификат соответствия ГОСТ Р — добровольная сертификация">
                            </li>
                            <li class="about__item">
                                <img class="about__image" src="./images/about/ss.jpg" alt="Сертификат соответствия Таможенного союза">
                            </li>
                            <li class="about__item">
                                <img class="about__image" src="./images/about/ds.jpg" alt="Декларация соответствия Таможенного союза">
                            </li>
                        </ul>
                        <p>
                            Сертификаты представлены в виде графических изображений отсканированных оригинальных документов и их копий, в том числе полученных из различных источников в сети Интернет. Также на страницах сайта вместе с изображениями представлена текстовая информация, содержащаяся в сертификатах.
                        </p>
                    </div>
                </section>
                <section class="disclamer">
                    <h2 class="title-section disclamer__title">
                        Отказ от ответственности
                    </h2>
                    <div class="disclamer__content">
                        <p>
                            Данный ресурс в сети Интернет никоим образом не относится и не связан с Росреестром, Росаккредитацией, Росстандартом и Ростестом и другими официальными органами Российской Федерации. Источником всех текстовых и графических материалов является сеть Интернет. Информация представлена для ознакомления. Коллектив сайта не несет ответственности за возможный прямой или косвенный ущерб, связанный с использованием информации, изложенной на данном сайте.
                        </p>
                    </div>
                </section>
                <section class="feedback">
                    <h2 class="title-section feedback__title">
                        Обратная связь
                    </h2>
                    <div class="feedback__content">
                        <p class="feedback__preface">
                            Для связи с администрацией сайта воспользуйтесь следующей формой
                        </p>
                        <div role="form" class="wpcf7" id="wpcf7-f5397-p52-o1" lang="ru-RU" dir="ltr">
                            <div class="screen-reader-response"></div>
                            <form action="/o-sajte/#wpcf7-f5397-p52-o1" method="post" class="wpcf7-form" enctype="multipart/form-data" novalidate="novalidate">
                                <div style="display: none;">
                                    <input type="hidden" name="_wpcf7" value="5397" />
                                    <input type="hidden" name="_wpcf7_version" value="4.7" />
                                    <input type="hidden" name="_wpcf7_locale" value="ru_RU" />
                                    <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f5397-p52-o1" />
                                    <input type="hidden" name="_wpnonce" value="62db4d4764" />
                                </div>
                                <p>
                                    <span class="wpcf7-form-control-wrap your-name">
                                        <input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Ваше имя *" />
                                    </span>
                                </p>
                                <p>
                                    <span class="wpcf7-form-control-wrap your-email">
                                        <input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="E-mail *" />
                                    </span>
                                </p>
                                <p>
                                    <span class="wpcf7-form-control-wrap your-subject">
                                        <input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="Тема" />
                                    </span>
                                </p>
                                <p>
                                    <span class="wpcf7-form-control-wrap your-message">
                                        <textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Ваше сообщение"></textarea>
                                    </span>
                                </p>
                                <p>
                                    <input type="submit" value="Отправить" class="wpcf7-form-control wpcf7-submit" />
                                </p>
                                <div class="wpcf7-response-output wpcf7-display-none"></div>
                            </form>
                        </div>
                    </div>
                </section>
                <div class="content__ad"></div>
            </div>
            <aside class="sidebar">
                <div class="sidebar-stats">
                    <div class="sidebar-stats__title">
                        Статистика
                    </div>
                    <a class="sidebar-stats__certificates" href="https://rostest-certify.ru/reestr-sertifikatov/" title="Реестр сертификатов соответствия">
                        <div class="sidebar-stats__certificates-value">
                            3511
                        </div>
                        <div class="sidebar-stats__certificates-subtitle">
                            сертификатов на сайте
                        </div>
                    </a>
                    <div class="sidebar-stats__manufacturers-agencies">
                        <a class="sidebar-stats__manufacturers" href="https://rostest-certify.ru/kompanii/" title="Поиск сертификата по изготовителю">
                            <div class="sidebar-stats__manufacturers-value">
                                2245
                            </div>
                            <div class="sidebar-stats__manufacturers-subtitle">
                                изготовителей
                            </div>
                        </a>
                        <a class="sidebar-stats__agencies" href="https://rostest-certify.ru/organy-po-sertifikacii/" title="Реестр органов по сертификации">
                            <div class="sidebar-stats__agencies-value">
                                568
                            </div>
                            <div class="sidebar-stats__agencies-subtitle">
                                органов
                            </div>
                        </a>
                    </div>
                </div>
                <div class="sidebar-countries">
                    <div class="sidebar-countries__title">
                        Сертификаты по странам
                    </div>
                    <ul class="sidebar-countries__items">
                        <li class="sidebar-countries__item">
                            <span class="flag sidebar-countries__flag">
                                <img src="./images/flags/ru.png" alt="RU" title="Произведено в России">
                            </span>
                            2276
                        </li>
                        <li class="sidebar-countries__item">
                            <span class="flag sidebar-countries__flag">
                                <img src="./images/flags/cn.png" alt="CN" title="Произведено в Китае">
                            </span>
                            402
                        </li>
                        <li class="sidebar-countries__item">
                            <span class="flag sidebar-countries__flag">
                                <img src="./images/flags/de.png" alt="DE" title="Произведено в Германии">
                            </span>
                            125
                        </li>
                        <li class="sidebar-countries__item">
                            <span class="flag sidebar-countries__flag">
                                <img src="./images/flags/us.png" alt="US" title="Произведено в США">
                            </span>
                            73
                        </li>
                        <li class="sidebar-countries__item">
                            <span class="flag sidebar-countries__flag">
                                <img src="./images/flags/jp.png" alt="JP" title="Произведено в Японии">
                            </span>
                            60
                        </li>
                        <li class="sidebar-countries__item">
                            <span class="flag sidebar-countries__flag">
                                <img src="./images/flags/dk.png" alt="DK" title="Произведено в Дании">
                            </span>
                            58
                        </li>
                    </ul>
                </div>
                <div class="sidebar-certificates">
                    <div class="sidebar-certificates__title">
                        Новые сертификаты
                    </div>
                    <ul class="sidebar-certificates__items">
                        <li class="sidebar-certificates__item">
                            <a class="sidebar-certificates__link" href="#" title="Скачать сертификат соответствия на электрическая энергия, поставляемая потребителям от распределительных электрических сетей (центров питания)">
                                <div class="sidebar-certificates__thumb-description">
                                    <div class="sidebar-certificates__thumb">
                                        <img class="sidebar-certificates__image" src="./images/certificate_thumb.jpg" title="Электрическая энергия, поставляемая потребителям от распределительных электрических сетей (центров питания)" alt="Электрическая энергия, поставляемая потребителям от распределительных электрических сетей (центров питания)">
                                        <div class="sidebar-certificates__gradient"></div>
                                    </div>
                                    <div class="sidebar-certificates__description">
                                        Электрическая энергия, поставляемая потребителям от распределительных электрических сетей (центров питания)
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="sidebar-certificates__item">
                            <a class="sidebar-certificates__link" href="#" title="Скачать сертификат соответствия на электрическая энергия, поставляемая потребителям от распределительных электрических сетей (центров питания)">
                                <div class="sidebar-certificates__thumb-description">
                                    <div class="sidebar-certificates__thumb">
                                        <img class="sidebar-certificates__image" src="./images/certificate_thumb.jpg" title="Электрическая энергия, поставляемая потребителям от распределительных электрических сетей (центров питания)" alt="Электрическая энергия, поставляемая потребителям от распределительных электрических сетей (центров питания)">
                                        <div class="sidebar-certificates__gradient"></div>
                                    </div>
                                    <div class="sidebar-certificates__description">
                                        Электрическая энергия, поставляемая потребителям от распределительных электрических сетей (центров питания)
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="sidebar-certificates__item">
                            <a class="sidebar-certificates__link" href="#" title="Скачать сертификат соответствия на электрическая энергия, поставляемая потребителям от распределительных электрических сетей (центров питания)">
                                <div class="sidebar-certificates__thumb-description">
                                    <div class="sidebar-certificates__thumb">
                                        <img class="sidebar-certificates__image" src="./images/certificate_thumb.jpg" title="Электрическая энергия, поставляемая потребителям от распределительных электрических сетей (центров питания)" alt="Электрическая энергия, поставляемая потребителям от распределительных электрических сетей (центров питания)">
                                        <div class="sidebar-certificates__gradient"></div>
                                    </div>
                                    <div class="sidebar-certificates__description">
                                        Электрическая энергия, поставляемая потребителям от распределительных электрических сетей (центров питания)
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="sidebar-certificates__more">
                        <a class="sidebar-certificates__more-link" href="https://rostest-certificates.ru/sredstva-individualnoj-zashhity-nog-obuv-specialnaya-kozhanaya-v-tom-chisle-uteplennaya-dlya-zashhity-ot-ximicheskix-faktorov-mexanicheskix-vozdejstvij-polubotinki-s-perforaciej-polubotinki-boti/" title="Другие сертификаты">
                            Другая продукция этого изготовителя
                        </a>
                    </div>
                </div>
                <div class="sidebar__ad"></div>
            </aside>
        </main>
    </div>
    <footer class="footer">
        <div class="nav-bottom">
            <div class="logo">
                <a class="logo__link" href="#" title="rostest-certify.ru — Сертификаты соответствия">
                    <img class="logo__image" src="./images/logo.svg" alt="rostest-certify.ru">
                </a>
            </div>
            <form class="search">
                <input class="search__input" placeholder="Поиск сертификата по номеру">
                <button class="search__magnifier" type="submit"></button>
            </form>
            <nav class="menu-main">
                <ul class="menu-main__items">
                    <li class="menu-main__item">
                        <a href="naiti-sertifikat-po-nomeru.html" title="Найти сертификат по номеру">
                            Поиск по номеру
                        </a>
                    </li>
                    <li class="menu-main__item">
                        <a href="naiti-sertifikat-po-vidu-produktsii.html" title="Найти сертификат по виду продукции">
                            Продукция
                        </a>
                    </li>
                    <li class="menu-main__item">
                        <a href="kompanii.html" title="Найти сертификат по изготовителю">
                            Изготовители
                        </a>
                    </li>
                    <li class="menu-main__item">
                        <a href="reestr-sertifikatov.html" title="Реестр сертификатов и деклараций соответствия">
                            Реестр сертификатов
                        </a>
                    </li>
                    <li class="menu-main__item">
                        <a href="organy-po-sertifikacii.html" title="Органы по сертификации">
                            Органы
                        </a>
                    </li>
                    <li class="menu-main__item">
                        <a href="gosty.html" title="ГОСТы на материалы, товары, продукцию и услуги">
                            ГОСТы
                        </a>
                    </li>
                    <li class="menu-main__item">
                        <a href="https://rostest-certify.ru/o-sajte/" title="О сайте">
                            О сайте
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="footer__disclamer-counter">
            <div class="footer__disclamer">
                <p>На сайте представлены сертификаты соответствия ГОСТ Р и Таможенного союза, а также Декларации соответствия Таможенного союза на различные материалы, товары, продукцию и услуги.</p>
                <p>Скачать сертификаты соответствия на продукцию и декларации можно в высоком разрешении. Информация представлена в виде изображений оригинальных документов и их копий. Вместе с изображениями представлена текстовая информация, содержащаяся в сертификатах.</p>
                <p>Сертификаты соответствия © 2014-2024. Информация представлена только для ознакомительного использования.</p>
            </div>
            <div class="footer__counter">
                <img src="./images/informer.png" style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" class="ym-advanced-informer" data-cid="32820367" data-lang="ru">
            </div>
        </div>
    </footer>
    <script src="./scripts/menu-mobile.js"></script>
</body>
</html>
