<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name='yandex-verification' content='5034b468f638d5d4' />
    <meta name="yandex-verification" content="b0dd183a09ff4e68" />
    <title>Реестр сертификатов - rostest-certify.ru</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/consts.css">
    <link rel="stylesheet" href="./css/reestr-sertifikatov.css">
    <link rel="stylesheet" href="./css/menu-main.css">
    <link rel="stylesheet" href="./css/menu-mobile.css">
    <link rel="stylesheet" href="./css/search-item.css">
    <link rel="stylesheet" href="./css/breadcrumbs.css">
    <link rel="stylesheet" href="./css/certificates-table.css">
    <link rel="stylesheet" href="./css/wp-page-numbers.css">
    <link rel="stylesheet" href="./css/sidebar-certificates.css">
    <link rel="stylesheet" href="./css/sidebar-stats.css">
    <link rel="stylesheet" href="./css/sidebar-countries.css">
    <link rel="stylesheet" href="./css/footer.css">
</head>
<body>
    <header class="nav-top">
        <div class="logo">
            <a class="logo__link" href="home.html" title="rostest-certify.ru — Сертификаты соответствия">
                <img class="logo__image" src="./images/logo.svg" alt="rostest-certify.ru">
            </a>
        </div>
        <div class="search search_collapseable">
            <div class="search__magnifier"></div>
            <input class="search__input" placeholder="Поиск сертификата по номеру">
            <input class="search__input search__input-mobile" placeholder="Поиск по номеру">
        </div>
        <nav class="menu-main menu-main_collapseable">
            <ul class="menu-main__items">
                <li class="menu-main__item">
                    <a href="naiti-sertifikat-po-nomeru.html" title="Найти сертификат по номеру">
                        Поиск по номеру
                    </a>
                </li>
                <li class="menu-main__item">
                    <a href="naiti-sertifikat-po-vidu-produktsii.html" title="Найти сертификат по виду продукции">
                        Продукция
                    </a>
                </li>
                <li class="menu-main__item">
                    <a href="kompanii.html" title="Найти сертификат по изготовителю">
                        Изготовители
                    </a>
                </li>
                <li class="menu-main__item">
                    <a href="reestr-sertifikatov.html" title="Реестр сертификатов и деклараций соответствия">
                        Реестр сертификатов
                    </a>
                </li>
                <li class="menu-main__item">
                    <a href="https://rostest-certify.ru/organy-po-sertifikacii/" title="Органы по сертификации">
                        Органы
                    </a>
                </li>
                <li class="menu-main__item">
                    <a href="https://rostest-certify.ru/gosty/" title="ГОСТы на материалы, товары, продукцию и услуги">
                        ГОСТы
                    </a>
                </li>
                <li class="menu-main__item">
                    <a href="https://rostest-certify.ru/o-sajte/" title="О сайте">
                        О сайте
                    </a>
                </li>
            </ul>
            <div class="menu-mobile-search-button">
                <div class="menu-mobile-search-button__button"></div>
            </div>
        </nav>

        <div class="menu-mobile">
            <ul class="menu-mobile__items">
                <li class="menu-mobile__item">
                    <a class="menu-mobile__link" href="naiti-sertifikat-po-nomeru.html" title="">Поиск по номеру</a>
                </li>
                <li class="menu-mobile__item">
                    <a class="menu-mobile__link" href="naiti-sertifikat-po-vidu-produktsii.html" title="">Продукция</a>
                </li>
                <li class="menu-mobile__item">
                    <a class="menu-mobile__link" href="kompanii.html" title="">Изготовители</a>
                </li>
                <li class="menu-mobile__item">
                    <a class="menu-mobile__link" href="reestr-sertifikatov.html" title="">Реестр сертификатов</a>
                </li>
                <li class="menu-mobile__item">
                    <a class="menu-mobile__link" href="#" title="">Органы по сертификации</a>
                </li>
                <li class="menu-mobile__item">
                    <a class="menu-mobile__link" href="#" title="">ГОСТы</a>
                </li>
                <li class="menu-mobile__item">
                    <a class="menu-mobile__link" href="#" title="">О сайте</a>
                </li>
            </ul>
        </div>
    </header>
    <div class="wrapper">
        <div class="hero">
            <div class="hero__content">
                <div class="breadcrumbs hero__breadcrumbs">
                    <a class="breadcrumbs__link" href="./home.html" title="На главную">Главная</a>
                    /
                    <a class="breadcrumbs__link" href="./reestr-sertifikatov.html" title="Реестр сертификатов и деклараций">Реестр сертификатов и деклараций</a>
                </div>
                <h1 class="hero__title">
                    Реестр сертификатов
                </h1>
                <div class="search-item">
                    <div class="search-item__title">
                        Поиск сертификата по номеру:
                    </div>
                    <div class="search-item__input-button">
                        <div class="search-item__magnifier-input">
                            <div class="search-item__magnifier"></div>
                            <input class="search-item__input" placeholder="Например, RU.СЩ04.B02830">
                        </div>
                        <button class="search-item__button">Поиск</button>
                    </div>
                </div>
            </div>
        </div>
        <main class="main">
            <div class="content">
                <div class="content__ad"></div>
                <section class="content__foreword">
                    <p>Представлен реестр сертификатов ГОСТ Р, Таможенного союза, и Деклараций соответствия Таможенного союза, автоматически создаваемый на основе документов, представленных на данном сайте. При помощи этого реестра можно выполнить проверку сертификатов на подлинность онлайн, путем сравнения реквизитов сертификата с его графическим изображением. Сертификаты также доступны для посмотра и скачивания.</p>
                 </section>
                <section class="certificates">
                    <div class="certificates-table">
                        <div class="certificates-table__cell certificates-table__cell_header">
                            <a class="certificates-table__link" href="#" title="Сортировать по номеру сертификата">
                                № сертификата<span class="certificates-table__scroll"></span>
                            </a>
                        </div>
                        <div class="certificates-table__cell certificates-table__cell_header">
                            <a class="certificates-table__link" href="#" title="Сортировать по наименованию продукции">
                                Продукция<span class="certificates-table__scroll certificates-table__scroll_up"></span>
                            </a>
                        </div>
                        <div class="certificates-table__cell certificates-table__cell_header">
                            Срок действия
                        </div>
                        <div class="certificates-table__cell">
                            <div class="certificates-table__flag-number">
                                <span class="flag certificates-table__flag">
                                    <img src="./images/flags/ru.png" alt="RU" title="Произведено в России">
                                </span>
                                № РОСС RU.АА49.В00022
                            </div>
                        </div>
                        <div class="certificates-table__cell">
                            <a class="certificates-table__link" href="#" title="Сертификат на Многофункциональный принтер, модели: DCP-1602R, DCP-1600R, «Brother»">
                                Многофункциональный принтер, модели: DCP-1602R, DCP-1600R, «Brother»
                            </a>
                            <a class="certificates-table__link certificates-table__link_manufacturer" href="#" title="Сортировать по наименованию продукции">
                                Brother Industries Ltd.
                            </a>
                        </div>
                        <div class="certificates-table__cell">
                            с 21.05.2015 по 20.05.2020 включительно
                        </div>
                        <div class="certificates-table__cell">
                            <div class="certificates-table__flag-number">
                                <span class="flag certificates-table__flag">
                                    <img src="./images/flags/ru.png" alt="RU" title="Произведено в России">
                                </span>
                                № РОСС RU.АА49.В00022
                            </div>
                        </div>
                        <div class="certificates-table__cell">
                            <a class="certificates-table__link" href="#" title="Сертификат на Многофункциональный принтер, модели: DCP-1602R, DCP-1600R, «Brother»">
                                Многофункциональный принтер, модели: DCP-1602R, DCP-1600R, «Brother»
                            </a>
                            <a class="certificates-table__link certificates-table__link_manufacturer" href="#" title="Сортировать по наименованию продукции">
                                Brother Industries Ltd.
                            </a>
                        </div>
                        <div class="certificates-table__cell">
                            с 21.05.2015 по 20.05.2020 включительно
                        </div>
                    </div>
                    <div class="certificates__nav" id='wp_page_numbers'>
                        <ul>
                            <li class="page_info">Стр. 1 из 176</li>
                            <li class="active_page">
                                <a href="https://rostest-certify.ru/reestr-sertifikatov/">1</a>
                            </li>
                            <li>
                                <a href="https://rostest-certify.ru/reestr-sertifikatov/page/2/">2</a>
                            </li>
                            <li>
                                <a href="https://rostest-certify.ru/reestr-sertifikatov/page/3/">3</a>
                            </li>
                            <li>
                                <a href="https://rostest-certify.ru/reestr-sertifikatov/page/2/">&gt;</a>
                            </li>
                        </ul>
                    </div>
                </section>
                <div class="content__ad"></div>
            </div>
            <aside class="sidebar">
                <div class="sidebar-stats">
                    <div class="sidebar-stats__title">
                        Статистика
                    </div>
                    <a class="sidebar-stats__certificates" href="https://rostest-certify.ru/reestr-sertifikatov/" title="Реестр сертификатов соответствия">
                        <div class="sidebar-stats__certificates-value">
                            3511
                        </div>
                        <div class="sidebar-stats__certificates-subtitle">
                            сертификатов на сайте
                        </div>
                    </a>
                    <div class="sidebar-stats__manufacturers-agencies">
                        <a class="sidebar-stats__manufacturers" href="https://rostest-certify.ru/kompanii/" title="Поиск сертификата по изготовителю">
                            <div class="sidebar-stats__manufacturers-value">
                                2245
                            </div>
                            <div class="sidebar-stats__manufacturers-subtitle">
                                изготовителей
                            </div>
                        </a>
                        <a class="sidebar-stats__agencies" href="https://rostest-certify.ru/organy-po-sertifikacii/" title="Реестр органов по сертификации">
                            <div class="sidebar-stats__agencies-value">
                                568
                            </div>
                            <div class="sidebar-stats__agencies-subtitle">
                                органов
                            </div>
                        </a>
                    </div>
                </div>
                <div class="sidebar-countries">
                    <div class="sidebar-countries__title">
                        Сертификаты по странам
                    </div>
                    <ul class="sidebar-countries__items">
                        <li class="sidebar-countries__item">
                            <span class="flag sidebar-countries__flag">
                                <img src="./images/flags/ru.png" alt="RU" title="Произведено в России">
                            </span>
                            2276
                        </li>
                        <li class="sidebar-countries__item">
                            <span class="flag sidebar-countries__flag">
                                <img src="./images/flags/cn.png" alt="CN" title="Произведено в Китае">
                            </span>
                            402
                        </li>
                        <li class="sidebar-countries__item">
                            <span class="flag sidebar-countries__flag">
                                <img src="./images/flags/de.png" alt="DE" title="Произведено в Германии">
                            </span>
                            125
                        </li>
                        <li class="sidebar-countries__item">
                            <span class="flag sidebar-countries__flag">
                                <img src="./images/flags/us.png" alt="US" title="Произведено в США">
                            </span>
                            73
                        </li>
                        <li class="sidebar-countries__item">
                            <span class="flag sidebar-countries__flag">
                                <img src="./images/flags/jp.png" alt="JP" title="Произведено в Японии">
                            </span>
                            60
                        </li>
                        <li class="sidebar-countries__item">
                            <span class="flag sidebar-countries__flag">
                                <img src="./images/flags/dk.png" alt="DK" title="Произведено в Дании">
                            </span>
                            58
                        </li>
                    </ul>
                </div>
                <div class="sidebar-certificates">
                    <div class="sidebar-certificates__title">
                        Новые сертификаты
                    </div>
                    <div class="sidebar-certificates__item">
                        <a class="sidebar-certificates__link" href="#" title="Скачать сертификат соответствия на электрическая энергия, поставляемая потребителям от распределительных электрических сетей (центров питания)">
                            <div class="sidebar-certificates__thumb-description">
                                <div class="sidebar-certificates__thumb">
                                    <img class="sidebar-certificates__image" src="./images/certificate_thumb.jpg" title="Электрическая энергия, поставляемая потребителям от распределительных электрических сетей (центров питания)" alt="Электрическая энергия, поставляемая потребителям от распределительных электрических сетей (центров питания)">
                                    <div class="sidebar-certificates__gradient"></div>
                                </div>
                                <div class="sidebar-certificates__description">
                                    Электрическая энергия, поставляемая потребителям от распределительных электрических сетей (центров питания)
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="sidebar-certificates__item">
                        <a class="sidebar-certificates__link" href="#" title="Скачать сертификат соответствия на электрическая энергия, поставляемая потребителям от распределительных электрических сетей (центров питания)">
                            <div class="sidebar-certificates__thumb-description">
                                <div class="sidebar-certificates__thumb">
                                    <img class="sidebar-certificates__image" src="./images/certificate_thumb.jpg" title="Электрическая энергия, поставляемая потребителям от распределительных электрических сетей (центров питания)" alt="Электрическая энергия, поставляемая потребителям от распределительных электрических сетей (центров питания)">
                                    <div class="sidebar-certificates__gradient"></div>
                                </div>
                                <div class="sidebar-certificates__description">
                                    Электрическая энергия, поставляемая потребителям от распределительных электрических сетей (центров питания)
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="sidebar-certificates__item">
                        <a class="sidebar-certificates__link" href="#" title="Скачать сертификат соответствия на электрическая энергия, поставляемая потребителям от распределительных электрических сетей (центров питания)">
                            <div class="sidebar-certificates__thumb-description">
                                <div class="sidebar-certificates__thumb">
                                    <img class="sidebar-certificates__image" src="./images/certificate_thumb.jpg" title="Электрическая энергия, поставляемая потребителям от распределительных электрических сетей (центров питания)" alt="Электрическая энергия, поставляемая потребителям от распределительных электрических сетей (центров питания)">
                                    <div class="sidebar-certificates__gradient"></div>
                                </div>
                                <div class="sidebar-certificates__description">
                                    Электрическая энергия, поставляемая потребителям от распределительных электрических сетей (центров питания)
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="sidebar__ad"></div>
            </aside>
        </main>
    </div>
    <footer class="footer">
        <div class="nav-bottom">
            <div class="logo">
                <a class="logo__link" href="#" title="rostest-certify.ru — Сертификаты соответствия">
                    <img class="logo__image" src="./images/logo.svg" alt="rostest-certify.ru">
                </a>
            </div>
            <div class="search">
                <div class="search__magnifier"></div>
                <input class="search__input" placeholder="Поиск сертификата по номеру">
                <input class="search__input-mobile" placeholder="Поиск по номеру">
            </div>
            <nav class="menu-main">
                <ul class="menu-main__items">
                    <li class="menu-main__item">
                        <a href="naiti-sertifikat-po-nomeru.html" title="Найти сертификат по номеру">
                            Поиск по номеру
                        </a>
                    </li>
                    <li class="menu-main__item">
                        <a href="https://rostest-certify.ru/naiti-sertifikat-po-vidu-produktsii/" title="Найти сертификат по виду продукции">
                            Продукция
                        </a>
                    </li>
                    <li class="menu-main__item">
                        <a href="https://rostest-certify.ru/kompanii/" title="Найти сертификат по изготовителю">
                            Изготовители
                        </a>
                    </li>
                    <li class="menu-main__item">
                        <a href="https://rostest-certify.ru/reestr-sertifikatov/" title="Реестр сертификатов и деклараций соответствия">
                            Реестр сертификатов
                        </a>
                    </li>
                    <li class="menu-main__item">
                        <a href="https://rostest-certify.ru/organy-po-sertifikacii/" title="Органы по сертификации">
                            Органы
                        </a>
                    </li>
                    <li class="menu-main__item">
                        <a href="https://rostest-certify.ru/gosty/" title="ГОСТы на материалы, товары, продукцию и услуги">
                            ГОСТы
                        </a>
                    </li>
                    <li class="menu-main__item">
                        <a href="https://rostest-certify.ru/o-sajte/" title="О сайте">
                            О сайте
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="footer__disclamer-counter">
            <div class="footer__disclamer">
                <p>На сайте представлены сертификаты соответствия ГОСТ Р и Таможенного союза, а также Декларации соответствия Таможенного союза на различные материалы, товары, продукцию и услуги.</p>
                <p>Скачать сертификаты соответствия на продукцию и декларации можно в высоком разрешении. Информация представлена в виде изображений оригинальных документов и их копий. Вместе с изображениями представлена текстовая информация, содержащаяся в сертификатах.</p>
                <p>Сертификаты соответствия © 2014-2024. Информация представлена только для ознакомительного использования.</p>
            </div>
            <div class="footer__counter">
                <img src="../images/informer.png" style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" class="ym-advanced-informer" data-cid="32820367" data-lang="ru">
            </div>
        </div>
    </footer>
    <div class="overlay"></div>

    <script src="./scripts/menu-mobile.js"></script>
</body>
</html>
