.menu-mobile {
    display: none;

    position: absolute;
    width: 288px;
    top: 80px;
    right: 16px;

    margin: 16px 0;
    padding: 16px;

    font-family: var(--text-family);
    font-size: 13px;
    font-weight: 600;

    line-height: 16px;

    background-color: var(--white);

    border-radius: var(--border-radius-large);

    box-shadow: 0px 0px 10px rgba(4, 13, 42, 0.1);

    overflow: hidden;

    z-index: 100;
}

.menu-mobile_visible {
    display: block;
}

.menu-mobile__items {
    list-style: none;
    margin: 0;
    padding: 0;

    text-align: center;
}

.menu-mobile__item {
    padding-bottom: 12px;
}

.menu-mobile__item:last-child {
    padding-bottom: 0;
}

.menu-mobile__link {
    color: var(--link-color-black);

    text-decoration: none;
}

.menu-mobile__link {
    color: var(--link-color-black);

    text-decoration: none;
}

.menu-mobile__link:hover {
    color: var(--link-color-black_hover);

    text-decoration: none;
}
