/*
    ПРОЕКТ "ROSTEST-CERTIFY.RU"
    ШРИФТОВЫЕ И ЦВЕТОВЫЕ КОНСТАНТЫ

    Последняя версия: 26.07.2024

    UPD: начальная версия
*/

@import url("./fonts.css");

:root {

/*
    Основная палитра
*/
    --blue:                     #2F448A;
    --black:                    #0C1227;
    --light-black:              #4F5463;
    --dark-gray:                #535867;
    --gray:                     #A3A3A3;
    --light-gray:               #E7E7E7;
    --ad_gray:                  #E7EAF1;

    --white:                    #FFFFFF;
    --off-white:                #F9F9FB;
    --page-bg:                  #FBFCFD;

/*
    Шрифты
*/

    --text-family:             Montserrat, arial, sans-serif;

    --text-color-main:         var(--black);
    --text-color-second:       var(--blue);
    --text-color-sub:          var(--dark-gray);
    --text-color-placeholder:  #6776A9;

/*
    Скроллбары
*/

    --scrollbar-thumb:          var(--pink-medium);
    --scrollbar-track:          var(--pink-light);

/*
    Рамки
*/

    --border-radius-xsmall:     4px;
    --border-radius-smaller:    6px;
    --border-radius-small:      8px;
    --border-radius:            12px;
    --border-radius-large:      16px;
    --border-radius-xlarge:     20px;

/*
    Меню
*/
    --menu-item:                var(--text-second);

/*
    Ссылки
*/
    --link-color:                 var(--blue);
    --link-color_hover:         #7B87B4;
    --link-color_disabled:      #ABABAB;
    --link-color-black:           var(--black);
    --link-color-black_hover:   #394D8F;
    --link-color-black_disabled:  var(--link-color_disabled);
    --link-color-gray:          #848792;
    --link-color-gray_hover:    #505463;
    --link-color-gray_disabled:   var(--link-color_disabled);
}
